.celdaLibre{
    border-width: 1px;
    border-style: solid;
    border-color: #e16428;
    background-color: #bbe1fa;
    height: 35px;
    width: 100%;
    transition: background-color 1s;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.celdaVisitadaConPeso{
    border-width: 1px;
    border-style: solid;
    border-color: #e16428;
    background-color: yellow;
    background-image: url("peso.svg");
    height: 35px;
    width: 100%;
    transition: background-color 1s;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */ 
}

.celdaVisitada{
    border-width: 1px;
    border-style: solid;
    border-color: #e16428;
    background-color: yellow;
    height: 35px;
    width: 100%;
    transition: background-color 1s;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */ 
}

.celdaOcupada{
    border-width: 1px;
    border-style: solid;
    border-color: #e16428;
    background-color: rgb(11, 37, 59);
    height: 35px;
    width: 100%;
    transition: background-color 1s;
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.celdaConPeso{
    border-width: 1px;
    border-style: solid;
    border-color: #e16428;
    height: 35px;
    width: 100%;
    background-color: #a4e0dd;
    transition: background-color 1s;
    background-image: url("peso.svg");
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.puntoFinal{
    border-width: 1px;
    border-style: solid;
    border-color: #e16428;
    height: 35px;
    width: 100%;
    background-color: #04879c;
    transition: background-color 1s;
    background-image: url("punto.svg");
    cursor: pointer;
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.puntoFinalVisitado{
    border-width: 1px;
    border-style: solid;
    border-color: #e16428;
    height: 35px;
    width: 100%;
    background-color: yellow;
    transition: background-color 1s;
    background-image: url("punto.svg");
    cursor: pointer;
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.puntoInicio{
    border-width: 1px;
    border-style: solid;
    border-color: #e16428;
    height: 35px;
    width: 100%;
    background-color: #04879c;
    transition: background-color 1s;
    background-image: url("flecha.svg");
    cursor: pointer;
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}